@import 'variables';
@import 'normalize';

body {
    background-color: $bg-color;
    font-family: $body-font;

    button {
        cursor: pointer;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
    }

    h1 {
        display: flex;
        justify-content: left;
    }

    .board {
        padding: 20px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .column-container {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            min-width: 200px;
        }
    }

    .column {
        border: 2px solid yellow;
        border-radius: 5px;
        padding: 5px 20px;
    }

    .card {
        background-color: lightgreen;
        border-radius: 5px;
        cursor: pointer;

        .card-description {
            padding: 5px 20px;
        }
    }

    .column-card-list {
        list-style: none;
        padding: 0;
        min-height: 20px;
    }
}